@model TouristGuide.Models.Country

@{
    ViewBag.Title = Model.Name;
}

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

<div class="center">
    @Html.ActionLink("Cities/Regions","Index","Place", new {country = Model.Name},null) | 
    @Html.ActionLink("Attractions", "Index", "Attraction", new { country = Model.Name },null)
</div>

<p>@Html.Raw(Model.Description)</p>

