@model IEnumerable<TouristGuide.Models.Attraction>
@using TouristGuide.Helpers

@{
    ViewBag.Title = "Attractions";
}

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>@Html.ActionLink("Add attraction", "Create")</p>
}

@foreach (var item in Model)
{
    <div class="post">
	    <h1 class="title">@item.Name</h1>
	    <p>@Html.Raw(Html.Truncate(item.Description,200))</p>
        @Html.ActionLink("Read more", "Details", new {id = item.ID}, new { @class = "more" })
        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
        {
            <text>|</text>
            @Html.ActionLink("Edit", "Edit", "Attraction", new { id = item.ID }, null)  
            <text>|</text>
            @Html.ActionLink("Delete", "Delete", "Attraction", new { id = item.ID }, null)
        }
    </div>
}
