@model TouristGuide.Models.LogOnModel
           

@if(Request.IsAuthenticated) 
{
    <text>Welcome <b>@Context.User.Identity.Name</b>
    [ @Html.ActionLink("Log Off", "LogOff", "Account", new { returnUrl = Request.RawUrl }, null) ]</text>
}

else 
{
    @*@using (Html.BeginForm()) 
    {*@
        <form action="/Account/LogOn" method="post">
            User:<br />@Html.TextBoxFor(m => m.UserName)<br />
            Password:<br />@Html.PasswordFor(m => m.Password)<br />
            <input type="submit" value="Log On" /> @Html.ActionLink("Register", "Register", "Account")
        </form>
    @*}*@
}