@model TouristGuide.Models.Place

@{
    ViewBag.Title = Model.Name;
}

@Html.ActionLink(Model.Country.Name, "Details", "Country", new { id = Model.Country.ID}, null)


@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


<p>@Html.Raw(Model.Description)</p>


