@model IEnumerable<TouristGuide.Models.Place>

@{
    ViewBag.Title = "Cities and regions";
}

@if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table_center">
    <tr>
        <th>
            City / Region
        </th>
        @*<th>
            Country
        </th>*@
        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
        {
            <th></th>
        }
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id=item.ID })
        </td>
        @*<td>
            @item.Country.Name
        </td>*@
        @if (Request.IsAuthenticated && HttpContext.Current.User.IsInRole("admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        }
    </tr>
}

</table>
